.formContainer {
  display: flex;
  width: max-content;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  gap: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input {
  width: 300px;
}

.btn {
  width: max-content;
  margin: 0 auto;
}

.error {
  color: red;
  font-size: 16px;
}
